/*body*/
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
}
img {
  display: block;
}
h1,
h2,
h3,
p {
  margin: 0;
}
/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-header {
  color: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
.header-contact {
  font-style: normal;
  margin-left: auto;
  margin-right: 0;
}
.list {
  display: flex;
  gap: 40px;
}
.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-link:hover {
  color: #404bbf;
}
.header-contact-link:focus {
  color: #404bbf;
}
/*section-service*/
.section-service {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.service-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}
.service-button:hover {
  background-color: #404bbf;
}
.service-button:focus {
  background-color: #404bbf;
}
/*section-two*/
.section-work {
  padding: 120px 0;
}
.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-work {
  display: flex;
  gap: 24px;
}
.sectiol-list {
  width: calc((100% - 72px) / 4);
}
.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.work-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*section-three*/
.section-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team-title-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-our-team {
  display: flex;
  gap: 24px;
}
.sectiol-our-team {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}
.name-position {
  padding: 32px 0;
}
.our-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/*section-four*/
.section-portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-title-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-item {
  width: calc((100% - 48px) / 3);
}
.addition {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*footer*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-p {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo-footer {
  display: inline-block;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
